.features__section{
    display: flex;
    justify-content: center;
    
}

.icons-conteiner{

}

.icons{
    width: 10vw;
    height: auto;
    margin: 5vw;
}

.conteiner{
    background-color: rgba(220, 241, 245, 0.158);
    margin: 5px;
    display: inline-block;
    border: 1px groove rgba(220, 241, 245, 0.158);
    width: 20vw;
}

.icons--description{
    text-align: center;
    font-size: 2vw;
}

@media screen and (max-width: 480px){
    .features__section{
        display: block;
        
    }
    .conteiner{
        width: 90vw;
        
    }
    .icons--description{
        font-size: 1em;
        word-wrap: break-word;
        
    }
}