.features{
    display: flex;
    justify-content: center;
}

.features__container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: 250px;


    margin: 5px;
    width: 20vw;
    background-color: rgba(220, 241, 245, 0.158);
    border: 1px groove rgba(215, 217, 218, 0.158);
}

.features__icon{
    width: auto;
    max-width: 100px;
    height: 10vw;
    margin: 5vw;
    align-self: center;

}

.features__icon-description{
    text-align: center;
    /* @TODO rethint it! */
    /* font-size: 2vw; */
}

@media screen and (max-width: 800px){
    .features{
        flex-direction: column;
    }
    .features__container{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 95vw;
        max-width: none;
    }
    .features__icon-description{
        font-size: 1.2em;
        word-wrap: break-word; 
        text-align: left;
    }
}