.calculator_container {
    height: 100vh;
    background-color:#f8f8f8;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: row;
    color:black;
    
  }

#tickmarks {
  display:none
}
.fieldset {
    height:60vh;
    margin:3em;
}

input[type=range] {
    -webkit-appearance: none;
    width: 40vw;
    margin: 16.15px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.7px;
    cursor: pointer;
    box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
    background: #7979b7;
    border-radius: 1.3px;
    border: 0.2px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.1px 1.1px 2.2px #383884, 0px 0px 1.1px #404096;
    border: 0px solid rgba(0, 0, 10, 0.08);
    height: 39px;
    width: 19px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16.35px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8383bc;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.7px;
    cursor: pointer;
    box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
    background: #7979b7;
    border-radius: 1.3px;
    border: 0.2px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.1px 1.1px 2.2px #383884, 0px 0px 1.1px #404096;
    border: 0px solid rgba(0, 0, 10, 0.08);
    height: 39px;
    width: 19px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #6f6fb2;
    border: 0.2px solid #000000;
    border-radius: 2.6px;
    box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #7979b7;
    border: 0.2px solid #000000;
    border-radius: 2.6px;
    box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1.1px 1.1px 2.2px #383884, 0px 0px 1.1px #404096;
    border: 0px solid rgba(0, 0, 10, 0.08);
    height: 39px;
    width: 19px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 6.7px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #7979b7;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #8383bc;
  }
  