html, body{
    margin: 0;
    padding: 0;
}
.hero {
    height: 100vh;
    background: rgba(22, 7, 15, 0.3); /* steruje przyciemnianiem zbyt jasnych kolorów */
    text-align: center;
      display:flex;
      justify-content: center;
      flex-direction: column;
      color: white;
  }

.hero::after {
    content: "";
    position: absolute;
    background-image: url("rawpixel-653764-unsplash.jpg");
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7; /* steruje przezroczystością */
  }

.hero__text--main {
    color:white;
    /* text-align: center; */
    font-family: "Times New Roman", serif;
    font-size: 7em;
    margin-bottom: 0;
    text-shadow: 1px 1px #525050;
}


.hero__text--description {
    font-family: "Times New Roman", serif;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 0px 0px 30px 0px;
    color: white;
    text-shadow: 1px 1px grey;
}

.hero__btn-call-to-action {
    background-color:#7979b7;
    border: solid #7979b7;
    color: white;
    font-size: 1.2em;
    text-align: center;
    height: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    margin:0 auto;
    cursor: pointer;
    -webkit-transition-duration: 0.3s; /*animacja przejścia*/
    transition-duration: 0.3s;
    -webkit-transition-property: background; /*animacja ma zastosowanie do tła*/
    transition-property: background;
    
}

.hero__btn-call-to-action:hover, .hero__btn-call-to-action:focus {
    background-color: rgba(121, 121, 183, 0.5);
    }

@media screen and (max-width:620px ) {
    .hero__text--main {
        font-size: 5.2em;
    }
    .hero__text--description {
        font-size: 1.7em;
    }
}
@media screen and (max-width:430px ) {
    .hero__text--main {
        font-size: 4em;
    }
    .hero__text--description {
        font-size: 1.1em;
    }
    .hero__btn-call-to-action {
       font-size: 1em;
       height:9%; 
    }
}