html, body{
    margin: 0;
    padding: 0;
}
.hero {
    height: 100vh;
    background: rgba(22, 7, 15, 0.3); /* steruje przyciemnianiem zbyt jasnych kolorów */
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    
  }

.hero__slider_button_left_container {
    position: absolute;
    top:0;
    bottom:0;
    width: 15%;
    opacity: 0.5;
    align-items: center;
    z-index: 1;
    cursor: pointer;   
    display:flex;
    justify-content: center; 
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    opacity: 0.1;
}

.hero__slider_button__left {
    font-size: 3em;
    padding: 0;
    opacity: 1;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
}

.hero__slider_button_left_container:hover {
    opacity: 0.6;
}


.hero__slider_button_right_container {
    position: absolute;
    top:0;
    bottom:0;
    width: 15%;
    opacity: 0.5;
    align-items: center;
    z-index: 1;
    cursor: pointer;   
    display:flex;
    justify-content: center; 
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    opacity: 0.1;
    right: 0px;
}

.hero__slider_button__right {
    font-size: 3em;
    padding: 0;
    opacity: 1;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
}

.hero__slider_button_right_container:hover {
    opacity: 0.6;
}



/* .hero__slider_button_right_container {
    position: absolute;
    top:0;
    bottom:0;
    width: 15%;
    opacity: 0.5;
    align-items: center;
    z-index: 1;
    cursor: pointer;    
    right: 0px;
    display:flex;
    justify-content: center;
    
} */


    
/* .hero__slider_button__left {
    font-size: 3em;
    padding: 1em;
    opacity: 1;
    display: none;  
}
.fa, .fab, .fal, .far, .fas {
    display: none !important;
}

.hero__slider_button__right {
    font-size: 3em;
    padding: 1em;
    opacity: 1;
    display: none;
    
} */

.hero__image-cover{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 1s ease-in-out;
    }
.hero__image-cover--1{
    background-image: url("slider1.jpeg");
    }

.hero__image-cover--2{
    background-image: url("slider2.jpeg");
}

.hero__image-cover--3{
    background-image: url("slider3.jpeg");
}

.hero__image-cover--active{
    opacity: 1;
}

.hero__text--main {
    color:white;
    /* text-align: center; */
    font-family: "Times New Roman", serif;
    font-size: 7em;
    margin-bottom: 0;
    text-shadow: 1px 1px #525050;
    font-family: 'Roboto', sans-serif;
}


.hero__text--description {
    font-family: "Times New Roman", serif;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 0px 0px 30px 0px;
    color: white;
    text-shadow: 1px 1px grey;
    font-family: 'Roboto', sans-serif;
}

.hero__btn-call-to-action {
    background-color:#7979b7;
    border: none;
    color: white;
    font-size: 1.2em;
    text-align: center;
    height: 12%;
    padding: 10px 20px;
    border-radius: 10px;
    margin:0 auto;
    cursor: pointer;
    -webkit-transition-duration: 0.3s; /*animacja przejścia*/
    transition-duration: 0.3s;
    -webkit-transition-property: background; /*animacja ma zastosowanie do tła*/
    transition-property: background;
    outline: none;
    font-family: 'Roboto', sans-serif;
    
}

.hero__btn-call-to-action:hover {
    background-color: #424265;
    background: #7979b7;
    background-image: -webkit-linear-gradient(top, #7979b7, #53537a); /* button gradient*/
    background-image: -moz-linear-gradient(top, #7979b7, #53537a);
    background-image: -ms-linear-gradient(top, #7979b7, #53537a);
    background-image: -o-linear-gradient(top, #7979b7, #53537a);
    background-image: linear-gradient(to bottom, #7979b7, #53537a);
    }

.hero__btn-call-to-action:focus {
    background-color: #424265;
    background: #7979b7;
    background-image: -webkit-linear-gradient(top, #7979b7, #53537a); /* button gradient*/
    background-image: -moz-linear-gradient(top, #7979b7, #53537a);
    background-image: -ms-linear-gradient(top, #7979b7, #53537a);
    background-image: -o-linear-gradient(top, #7979b7, #53537a);
    background-image: linear-gradient(to bottom, #7979b7, #53537a);
    }

@media screen and (max-width:620px ) {
    .hero__text--main {
        font-size: 5.2em;
    }
    .hero__text--description {
        font-size: 1.7em;
    }
}
@media screen and (max-width:430px ) {
    .hero__text--main {
        font-size: 4em;
    }
    .hero__text--description {
        font-size: 1.1em;
    }
    .hero__btn-call-to-action {
       font-size: 1em;
       height:9%; 
    }
}