.hero__img {
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1518600570419-81324064e9ae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04af4a3ac17780fdc82adf7e68b1f6ec&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero__text--main {
    color:white;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 5em;
    
}

.hero__text--description {
    font-family: "Times New Roman", serif;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    margin: 0px 0 30px 0;
}

.hero__btn-call-to-action {
    background-color: #9292cc;
    color: white;
    font-size: 1.2em;
    text-align: center;
    width: 20%;
    height: 13%;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    margin:0 auto;
    cursor: pointer;
    
}

