body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    font-weight: lighter;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
}

.container {
    width: 1000px;
    margin: 60px auto 0;
    display: table;
    box-sizing: border-box;
}

.row {
    transition: 1s;
}

.column {
    display: table-cell;
    padding: 30px;
    width: 33.3%;
    text-align: center;
    vertical-align: middle;
    transition: 1s;
}

.row:nth-child(1) .column:nth-child(odd) {
    background: #7979b7;
}

.row:nth-child(1) .column:nth-child(2) {
    background: #6c6ca4;
}

.row:nth-child(2) .column:nth-child(odd) {
    background: #6c6ca4;
}

.row:nth-child(2) .column:nth-child(2) {
    background: #7979b7;
}

@media(max-width: 760px) {
    .container {
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }

    .column {
        width: 100%;
        display: block;
        box-sizing: border-box;
    }
}

.row:nth-child(1) .column:nth-child(1){
    animation-delay: 1s;
}

.row:nth-child(1) .column:nth-child(2){
    animation-delay: 1.3s;
}

.row:nth-child(2) .column:nth-child(1){
    animation-delay: 1.6s;
}

.row:nth-child(2) .column:nth-child(2){
    animation-delay: 1.9s;
}



