html, body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    background-color: blue;
    padding: 15px;
}

.logo {
    flex-grow: 0;

}

.nav-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow:1;
}

.nav-list-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

}

.nav-list-item a {
    display: block;
text-align: center;
}