body, html {
    font-size: 100%;
    font-family: 'Robot', 'sans-serif';
    margin: 0;
    padding: 0;
}

.navbar__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999;
}


nav {
    opacity: 0.8;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #000;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}

nav ul li {
    border-bottom: 1px solid #ddd;
}

/* styling logo */
nav div:first-child {
    background: #000;
}

nav div:first-child h1 {
    line-height: 0;
    padding: .8rem 1rem;
    text-align: center;
}

nav div:first-child h1, nav ul {
    margin: 0;
}
/* Responsive settings */
@media only screen and (min-width: 30em) {
    nav {
        display: flex;
        justify-content: space-between;
        background: #000;
        align-content: space-around;
    }
    nav ul {
        display: flex;
        text-align: center;
        background: none;
        flex-wrap: wrap;
    }

    nav div:first-child h1 {
        padding:0;
        margin-left:0 1rem;
    }

    nav div:first-child img {
        height: 40px;
    }

    nav ul li {
        border-bottom: none;
    }

    na ul li a {
        padding: 1.2rem 1rem;
    }

    nav ul li a:hover {
        background: #7979b7;
        transition: 0.4s;
    }
}