html, body {
    padding: 0;
    margin: 0;
    /* Reset styles */
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin-ext');

.nav {
    display: flex;
    background-color: #7979b7;
    padding: 15px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    /* Navigation clolors and opacity */
}

.logo {
    flex-grow: 1;
    width: 20vw;
    padding: 10px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow:1;
}

.nav-list-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 10px;
}

.nav-list-item a {
    display: block;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    /* Added font size and text color */
}