* {
    margin: 0;
    padding: 0;
  }

  .instruction_container {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    padding:0px;
    background-color: #7979b7;
  }

  .main_h1 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
  }

  .introduction {
    text-align: center;
    font-size: 35px;
    padding: 10px;
  }

  .steps__container {
    margin-top: 200px;
    list-style-type: none;
    text-decoration: none;
    /* padding: 20px; */
    text-align: center
  }

  .instruction__tasks {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
  }

  .footer {
    text-align: center;
    background-color: #6969b6;
    padding: 20px 0px;
    
  }